html, body {
    width: 100%;
    min-width: 200px;
    max-width: 500px;
}

.game {
    width: 100%;
    position: relative;
    border: 2px solid grey;
    background-color: white;
    margin: 5px;
}

div.score {
    width: 20%;
    height: 20%;
    position: absolute;
    right: 5%;
    top: 5%;
}

div.score div.image {
    top: 10%;
    position: relative;
}

div.score div.number {
    margin: 0 auto;
    width: 100%;
    text-align: center;
    font-family: sans-serif;
    font-size: 1.5em;
    color: purple;
    bottom: 15%;
    position: absolute;
}

div.hedgehog, div.sheep {
    width: 50%;
    height: 50%;
    position: absolute;
}

div.hedgehog {
    left: 5%;
    top: 5%;
}

div.sheep {
    left: 40%;
    top: 55%;
}

div.sheep div.image {
    top: 10%;
    position: relative;
}

div.bubble {
    margin: 0 auto;
    width: 100%;
    text-align: center;
    font-family: sans-serif;
    font-size: 1.2em;
    position: absolute;
}

div.sheep div.bubble {
    bottom: 15%;
}

div.food {
    width: 5%;
    height: 5%;
    position: absolute;
    visibility: hidden;
}

img {
    max-width: 100%;
    max-height: 100%;
}